#content
{
	width: 95%;
	border: 1px solid gray;
	padding: 1.5em;
	margin: 1.5em auto;
	background-color: cornsilk;
	border-radius: 16px;
}

.left-portion
{
	width: 45%;
	float: left;
}

.right-portion
{
	width: 45%;
	float: right;
	text-align: right;
}

#question-heading
{
}

#start-over-heading
{
	text-decoration: underline;
	cursor: pointer;
	font-size: 1.2em;
}

#question-subheading
{
	clear: both;
	padding-top: 2.5em;
	margin-bottom: 1.5em;
}

#question-heading h2
{
	font-size: 2em;
}

#question-subheading h3
{
	font-size: 1.3em;
}

#image-section
{
}

#answer-presentation
{
	clear: both;
}

#answer-options
{
}

#image-container
{
	margin-top: 1em;
	min-height: 50px;
	text-align: left;
}

#answer-submittal-section
{
	clear: both;
}

#answer-options ul
{
}

#answer-options li
{
	line-height: 2;
}

.answer-input,
.answer-label
{
	display: inline-block;
	margin-left: .8em;
}

#submit-answer-button
{
	display: inline-block;
	margin-top: 1em;
	padding: .5em;
	border: 1px solid gray;
	min-width: 100px;
	max-width: 150px;
	text-align: center;
	cursor: pointer;
	background-color: cornflowerblue;
	color: white;
	border-radius: 6px;
}

#submission-error
{
	display: none;
	margin-top: 1em;
	margin-left: 2em;
	color: red;
}

#question-stats-heading
{
	margin-top: 1.5em;
	margin-bottom: 1em;
	font-size: 1.2em;
	margin-right: .6em;
}

#overall-score
{
	display: none;
	margin-top: 1.5em;
	font-size: 1.2em;
}

#stats
{
	clear: both;
}

#stats ul
{
}

.stat-entry
{
	display: inline-block;
	min-width: 1.5em;
	text-align: left;
	line-height: 2;
}

.stat-heading
{
	text-decoration: underline;
	margin-left: 1px;
	cursor: pointer;
}

.stat-indicator
{
	width: 10px;
	height: 10px;
	border: 1px solid black;
	border-radius: 5px;
}

.stat-indicator.red
{
	background-color: red;
}


.stat-indicator.green
{
	background-color: green;
}

#question-image
{
	max-height: 300px;
	max-width: 100%;
	border: 1px solid gray;
	border-radius: 16px;
}