.presentation
{
	/* padding: 1em .5em; */
}

.quadrant
{
	width: 40%;
	border: 1px solid black;
	padding: 1.5em;
	display: inline-block;
	margin: 1em;
	float: left;

}

#question-heading
{

}

#question-subheading
{
	margin-top: 2em;
	margin-bottom: 1.5em;
}

#question-heading h2
{
	font-size: 2em;
}

#question-subheading h3
{
	font-size: 1.3em;
}

#question-presentation
{
}

#question-and-choices-section
{
}

#image-section
{
}

#answer-presentation
{
	clear: both;
}

#answer-options ul
{
	/* margin-left: 1em; */
}

#answer-options li
{
	line-height: 2;
}

.answer-input,
.answer-label
{
	display: inline-block;
	margin-left: .8em;
}

#start-over-heading
{
	text-align: right;
	text-decoration: underline;
	cursor: pointer;
}

#image-container
{
	border: 1px solid blue;
	margin-top: 1em;
	min-height: 250px;
}

#submit-answer-button
{
	padding: .5em;
	border: 1px solid gray;
	min-width: 100px;
	max-width: 150px;
	text-align: center;
	/* margin: 0 auto; */
}